<div class="container mt-5"> 
    <div class="d-flex justify-content-center row"> 
        <div class="col-md-6"> 
            <div class="list"> 
                <div class="items p-2 bg-white px-3 border mt-2">
                     <div class="d-flex justify-content-between align-items-center user-info"> 
                        <div class="d-flex flex-row align-items-center"><img src="http://localhost:3000/images/group1.jpg" width="60">
                             <div class="d-flex flex-column user-name-followers">
                                <span class="font-weight-bold">Disciples of Indiana Zones</span>
                                <span>15230 members</span>
                            </div> 
                            <div>

                            </div>
                         </div> 
                         <div>
                            <i class="fa fa-bookmark-o fa-2x text-info">

                            </i></div> </div> <hr> <div> 
                                <p class="about">The motive of this group is to 
                                    create enthusiasm and fetivity among our dedicated detectives
                                    so that they can configure out every mystery with 
                                    highest possible efficiency and give them a platform 
                                    to communicate among themselves secretly and privately.
                                </p> 
                                <div class="d-flex flex-row mb-3">
                                    <span class="px-2 bg-primary text-white mr-1 rounded tags">Enter the Group </span>
                                    <span class="px-2 bg-primary text-white mr-1 rounded tags">About</span>
                                    <span class="px-2 bg-primary text-white mr-1 rounded tags">Send Request</span>
                                </div> </div> </div> </div> </div> </div> </div>